.container{
    max-width: 1200px;
    margin: 0 auto;
    color:#e9e9e7;
}

.aboutUs{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 30px;
}

.aboutText{
    flex-basis: 50%;
}

.aboutText p{
  line-height: 25px;
  margin:0;
  text-shadow: rgb(32 32 32) 3px 3px 3px;
  
}

.scissors{
  display:flex;
  justify-content: space-around;
  margin: 30px;
}


.aboutImages{
    flex-basis: 50%;
    text-align: center;
}


.ourTeam{
    background-color: white;
    background-image: url('/logo_background.webp');
    background-repeat: no-repeat;
    background-position-x: 1300px;
    background-position-y: 266px;
    
  }
  .teamContainet{
    max-width: 1200px;
    margin: 0 auto;
  }
  .ourTeamTitles{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
    line-height: 20px;
  }
  .ourTeamTitles h2{
    margin:20px;
    color: #e00310;
  }
  .ourTeamTitles h3{
    color:#163852;
    margin:10px 0 0 0;
  }
  
  .cardContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0px 0px 40px 0;
  }
  
  .cardPicture1{
    width: 300px;
    height: 216px;
    background-image: url('/Vasil300x216.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: #c69c6d;
  }
  
  .cardPicture1 h2{
    padding: 41px 0px 40px 10px;
  }

  .cardPicture2{
    width: 300px;
    height: 216px;
    background-image: url('/Ivan300x216.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: #c69c6d;
  }
  
  .cardPicture2 h2{
    padding: 41px 0px 40px 10px;
  }
  
  .cardIcons{
    padding: 18px 0px 0px 10px;
  }
  .cardIcons img{
    margin:0 10px 0 0;
  }
  
  .cardText{
    width: 300px;
    border: 1px solid #c69c6d;
    color:#163852;
    padding: 30px;
    background-color: white;
    text-align: center;
  }


  @media only screen and (max-width: 1239px) {
    .container h1{
      margin: 20px 0px 0px 20px;
    }
    .ourTeam{
        background-position-x: 743px;
      }
      .aboutText{
        flex-basis: 100%;
        margin:0px 20px 10px 20px;
    }
  }

  @media only screen and (max-width: 600px) {
    .ourTeam{
      background-position-x: 86px;
      background-position-y: 724px;
    }
    .aboutText p{
      margin-top: 20px;
    }
  }
