html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Commissioner', sans-serif;
  background-color: black;
  background-image: url('/home_head_background.webp');
  background-repeat: no-repeat;
  /* background-size: cover; */
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
