.mainTitles{
  max-width: 1200px;
  margin:0 auto;
  color: #e9e9e7;
  line-height: 28px;
}

.mainTitles h1{
  margin: 20px 0;
  padding:80px 0 40px 0;
  line-height: 38px;
}

.mainBtn{
  margin-top: 40px;
  color: #e9e9e7;
  background-color: transparent;
  border: 1px solid #e9e9e7;
  padding: 15px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

.mainBtn:hover{
  margin-top: 40px;
  color: #163852;
  background-color: #e9e9e79d;
  border: 1px solid #e9e9e7;
  padding: 15px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

.mainContacts{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 155px;
}

.socialIcons{
  display: flex;
  justify-content: flex-end;
  background-color: #e9e9e7;
  flex-basis: 30%;
  padding: 15px;
}

.imgS{
  margin: 0 10px;
}

.contactsInfo{
  display: flex;
  flex-basis: 70%;
  background-color: #163852;
  padding: 40px;
}

.contactsInfo div{
  margin: 0 58px 0 5px;
  color: #e9e9e7;
}

.quates{
  background-color:#1b1b1b;
  text-align: center;
  color:#e9e9e7;
  padding: 100px 0;
}

.quates img{
  margin: 30px 0;
}

.quates p{
  line-height: 24px;
}

.sliderContainer{
  margin: 0 auto;
  max-width:1200px;
}
.sliderBackground{
  background-image:url('/background.webp');
  height: 500px;
}

.image{
  margin-top: 65px;
}


.services{
  background-color:black;
  text-align: center;
  color:#e9e9e7;
  padding: 100px 0;
}

.services img{
  margin:30px 0;
}

.serviceCardsContainer{
  max-width: 1200px;
  margin:0 auto;
  display: flex;
  flex-wrap: wrap;
}

.serviceCard{
  width: 300px;
  margin-top: 20px;
  padding: 0 10px;
}

.serviceCard h4{
  margin-bottom: 15px;
}

.serviceCard p{
  line-height: 24px;

}

.parallax {
  background-image: url("/American_Crew_background.webp");
  min-height: 500px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax div{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  color:#dedede;
  text-align: center;
}
.imgParallax{
  margin-top:100px;
}
.parallax h3{
  margin-bottom:100px;
  margin-top:30px;
}

.ourTeam{
  background-color: white;
  background-image: url('/logo_background.webp');
  background-repeat: no-repeat;
  background-position-x: 1300px;
  background-position-y: 266px;
  
}
.teamContainet{
  max-width: 1200px;
  margin: 0 auto;
}
.ourTeamTitles{
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding-top: 60px;
  line-height: 20px;
}
.ourTeamTitles h2{
  margin:20px;
  color: #e00310;
}
.ourTeamTitles h3{
  color:#163852;
}

.cardContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 30px 0px 60px 0;
}

.cardPicture{
  width: 300px;
  height: 216px;
  background-image: url('/4m-300x216.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: #c69c6d;
}

.cardPicture h2{
  padding: 41px 0px 40px 10px;
}

.cardIcons{
  padding: 18px 0px 0px 10px;
}
.cardIcons img{
  margin:0 10px 0 0;
}

.cardText{
  width: 300px;
  border: 1px solid #c69c6d;
  color:#163852;
  padding: 30px;
  background-color: white;
  text-align: center;
}

@media only screen and (max-width: 1239px) {
  .mainTitles{
      margin: 0 30px;
  }
  .mainContacts{
      flex-wrap: wrap;
      margin-top: 120px;
  }
  .socialIcons{
      display: flex;
      justify-content: flex-end;
      background-color: #e9e9e7;
      padding: 15px;
      width: 100%;
      flex-basis: 100%;
  }
  .contactsInfo{
      display: flex;
      background-color: #163852;
      padding: 40px;
      flex-direction: column;
      width: 100%;
      flex-basis: 100%;
  }
   .quates p {
        margin: 20px;
    }
    .quates h2 {
      margin: 20px;
  }
    .quates{
        padding:40px 0;
    }
    .quates img{
        margin:0px;
    }

    .sliderBackground{
      height: 500px;
    }
  
    .services {
      padding: 50px 0;
  }
  .services h3{
      margin:0 20px;
  }
  .services img{
      margin: 20px 0;
  }
  
  .serviceCardsContainer {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-around;
  }

  .parallax h3{
    margin-left:20px;
    margin-right:20px;
}

.ourTeam{
  background-position-x: 743px;
}

}

@media only screen and (max-width: 600px) {
  .ourTeam{
    background-position-x: 86px;
    background-position-y: 724px;
}
.sliderBackground{
  height: 240px;
}
}